@import "src/pages/main";

.button {
  border-radius: 5px;
  height: 40px;
  outline: 0;
  margin: 5px 0;
  background-color: $white4;
  font-size: 1rem;
  padding: 5px 20px;
  border: 1px solid $white3;
  font-family: "RobotoCondensed", sans-serif;

  &:hover {
    cursor: pointer;
    background-color: $white;
  }

  &:active {
    border-style: none;
  }

  &.primary {
    background-color: $red;
    border-color: $red2;
    color: $white;

    &.disabled {
      background-color: $red3;
      border-color: $red3;
    }

    &:hover {
      background-color: $red2;

      &.disabled {
        background-color: $red3;
      }
    }
  }

  &.disabled {
    border-color: $gray1;
    background-color: $gray1;

    &:hover {
      background-color: $gray1;
      cursor: default;
    }
  }
}