@import 'src/pages/main';

.logo-tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .logo-tile {
    min-width: 100px;
    //width: 200px;
    //max-height: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 20px;

    &:hover {
      cursor: pointer;
    }
  }
}