@font-face {
  font-family: "Exo2";
  src: local("Exo2"),
  /*url('./assets/roboto-condensed-v19-latin-regular.woff2') format('woff2'), !* Super Modern Browsers *!*/
  /*url('./assets/roboto-condensed-v19-latin-regular.woff') format('woff'), !* Modern Browsers *!*/
  url('./assets/exo2-medium.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: bold;
}

body {
  font-family: "Exo2", sans-serif;
}

body.button {
  font-family: "Exo2", sans-serif;
}